@font-face {
    font-family: 'OpenDyslexic';
    src: url('/static/fonts/opendyslexic/OpenDyslexic-Regular.woff2') format('woff2'),
         url('/static/fonts/opendyslexic/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
Failed to fetch version info for opendyslexic.